.centered-buttons1 {
  display: flex;
  color: #021526;
  flex-direction: column; /* Permite que o conteúdo se empilhe verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  height: 100vh;
  justify-content: center; /* Alinha o conteúdo verticalmente no centro */
  /* Exemplo de cor de fundo para contraste */
}

.centered-buttons1 button {
  font-size: 1rem;
}

.centered-buttons2 {
  display: flex;
  color: #021526;
  flex-direction: column; /* Permite que o conteúdo se empilhe verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  height: 100vh;
  justify-content: center; /* Alinha o conteúdo verticalmente no centro */
  /* Exemplo de cor de fundo para contraste */
}

.centered-buttons2 button {
  background-color: #021526;
  font-size: 1rem;
  color: #ffffff;
}

.title3 {
  margin-top: 1vh;
  margin-bottom: 20px; /* Espaço abaixo do título */
  font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
  text-align: center; /* Centraliza o texto horizontalmente */
}

.centered-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 200px;
}
.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Usa frações do espaço disponível */
  gap: 0; /* Remove o espaçamento entre os elementos */
  width: 50%; /* Usa 80% da largura da tela */
  max-width: 1200px; /* Define uma largura máxima */
  place-items: center; /* Centraliza os itens no meio do grid */
}

@media (max-width: 1200px) {
  .grid-3x3 {
    grid-template-columns: repeat(2, 1fr); /* 3 colunas em telas médias */
  }
}

@media (max-width: 900px) {
  .grid-3x3 {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
  }
}

@media (max-width: 600px) {
  .grid-3x3 {
    grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    width: 100%; /* Usa 100% da largura da tela */
  }
}

button {
  margin: 0;
  padding: 0;
  width: 100%; /* Ocupa 100% da largura da coluna */
  height: 140px; /* Define uma altura fixa para os botões */
  text-align: center;
  border-style: solid;
  border-color: #e2e2b6;
  border-width: 2px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0rem; /* Tamanho da fonte relativo */
}

button:hover {
  opacity: 0.8; /* Efeito de hover com opacidade */
}

.title {
  font-size: 1.45rem; /* Ajuste o tamanho da fonte conforme necessário */
  text-align: left; /* Centraliza o texto */
  margin-bottom: 30px; /* Espaço abaixo do título */
}

.stain-guide-container {
  margin: 20px auto; /* Centraliza o container com margens automáticas */
  padding: 20px;
  margin-top: 0vh;
  margin-bottom: 22vh;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 50px rgba(61, 40, 40, 0.1);
  max-width: 1200px; /* Largura máxima para o container */
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto; /* Inclui padding e border no total width/height */
}

body {
  background-color: #e2e2b6;
  overflow: hidden;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #021526;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  width: 60px; /* Definindo a largura fixa */
  height: 60px; /* Definindo a altura fixa */
  font-size: 24px; /* Ajuste conforme necessário */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remover o padding para evitar esticar o botão */
}

@media (max-width: 900px) {
  .back-to-top {
    bottom: 1vh;
    right: 1vh;
  }
}

.back-to-top:hover {
  background-color: #021526;
}
